@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¡Bienvenido a mi evaluacion!</h1>
    <p class="lead">Mi nombre es Julian Perez Demonty y me estoy postulando para el puesto de Desarrollador en el Banco Provincia de Buenos Aires</p>
    <p><a href='@Url.Action("Index", "Empleado")'class="btn btn-primary btn-lg">Ir a la prueba</a></p>
</div>
